# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
import itertools

from apyori import apriori

# Importing Data
> Artificially created data in excel (based on what was given in class)
> - Pão     - Bread
> - Leite   - Milk
> - Fraldas - Diepers
> - Cerveja - Beer
> - Cola    - Glue
> - Ovos    - Eggs

In [2]:
df = pd.read_table(r'Apriori_Lista_itens.csv', sep = ";")
df.head()

   TID                          Itens
0    1                     Pão, Leite
1    2    Pão, Fraldas, Cerveja, Ovos
2    3  Leite, Fraldas, Cerveja, Cola
3    4   Pão, Leite, Fraldas, Cerveja
4    5      Pão, Leite, Fraldas, Cola

In [3]:
df['Itens'] = df['Itens'].replace('[,]','',regex=True) # Removing the commas

In [4]:
df.Itens.unique()

array(['Pão Leite', 'Pão Fraldas Cerveja Ovos',
       'Leite Fraldas Cerveja Cola', 'Pão Leite Fraldas Cerveja',
       'Pão Leite Fraldas Cola'], dtype=object)

In [5]:
# Removing any extra space that may be in the data
df['Itens'] = df['Itens'].str.strip()
df

   TID                       Itens
0    1                   Pão Leite
1    2    Pão Fraldas Cerveja Ovos
2    3  Leite Fraldas Cerveja Cola
3    4   Pão Leite Fraldas Cerveja
4    5      Pão Leite Fraldas Cola

In [6]:
num_registros = len(df)
num_registros

5

In [7]:
registros = []

for i in range(0, num_registros):
    registros.append([str(df.values[i,j]) for j in range(1,2)])

In [8]:
registros

[['Pão Leite'],
 ['Pão Fraldas Cerveja Ovos'],
 ['Leite Fraldas Cerveja Cola'],
 ['Pão Leite Fraldas Cerveja'],
 ['Pão Leite Fraldas Cola']]

In [9]:
df['Lista'] = registros # Creating an Auxiliary column that contains the values of the records in a LIST form

In [10]:
df

   TID                       Itens                         Lista
0    1                   Pão Leite                   [Pão Leite]
1    2    Pão Fraldas Cerveja Ovos    [Pão Fraldas Cerveja Ovos]
2    3  Leite Fraldas Cerveja Cola  [Leite Fraldas Cerveja Cola]
3    4   Pão Leite Fraldas Cerveja   [Pão Leite Fraldas Cerveja]
4    5      Pão Leite Fraldas Cola      [Pão Leite Fraldas Cola]

## Criando um novo DataFrame que contenha as possibilidades de Permutação existentes entre os itens

In [11]:
lista_itens = [] # listing Itens
for lista in df['Itens']:
    for item in lista.split():
        lista_itens.append(item)

lista_itens = list(set(lista_itens))
lista_itens

['Fraldas', 'Pão', 'Leite', 'Cerveja', 'Cola', 'Ovos']

In [12]:
# List of possible Item combinations
lista_completa = []
lista_completa_str = []

for L in range(0, len(lista_itens)+1):
    for subset in itertools.combinations(lista_itens, L):
        subset= list(subset)
        item = ' '.join(subset)
        lista_completa.append(subset)
        lista_completa_str.append(item)

In [13]:
lista_completa = lista_completa[1:len(lista_completa)]
lista_completa_str = lista_completa_str[1:len(lista_completa_str)]

In [14]:
df_lista_completa = pd.DataFrame() # New and empty DataFrame to enter the data
df_lista_completa

Empty DataFrame
Columns: []
Index: []

In [15]:
pd.options.display.max_rows = 63
df_lista_completa['Conjuntos'] = lista_completa_str
df_lista_completa['ListaItens'] = lista_completa
df_lista_completa

,Conjuntos,ListaItens
0,Fraldas,[Fraldas]
1,Pão,[Pão]
2,Leite,[Leite]
3,Cerveja,[Cerveja]
4,Cola,[Cola]
5,Ovos,[Ovos]
6,Fraldas Pão,"[Fraldas, Pão]"
7,Fraldas Leite,"[Fraldas, Leite]"
8,Fraldas Cerveja,"[Fraldas, Cerveja]"
9,Fraldas Cola,"[Fraldas, Cola]"
10,Fraldas Ovos,"[Fraldas, Ovos]"
11,Pão Leite,"[Pão, Leite]"
12,Pão Cerveja,"[Pão, Cerveja]"
13,Pão Cola,"[Pão, Cola]"
14,Pão Ovos,"[Pão, Ovos]"
15,Leite Cerveja,"[Leite, Cerveja]"
16,Leite Cola,"[Leite, Cola]"
17,Leite Ovos,"[Leite, Ovos]"
18,Cerveja Cola,"[Cerveja, Cola]"
19,Cerveja Ovos,"[Cerveja, Ovos]"
20,Cola Ovos,"[Cola, Ovos]"
21,Fraldas Pão Leite,"[Fraldas, Pão, Leite]"
22,Fraldas Pão Cerveja,"[Fraldas, Pão, Cerveja]"
23,Fraldas Pão Cola,"[Fraldas, Pão, Cola]"
24,Fraldas Pão Ovos,"[Fraldas, Pão, Ovos]"
25,Fraldas Leite Cerveja,"[Fraldas, Leite, Cerveja]"
26,Fraldas Leite Cola,"[Fraldas, Leite, Cola]"
27,Fraldas Leite Ovos,"[Fraldas, Leite, Ovos]"
28,Fraldas Cerveja Cola,"[Fraldas, Cerveja, Cola]"
29,Fraldas Cerveja Ovos,"[Fraldas, Cerveja, Ovos]"
30,Fraldas Cola Ovos,"[Fraldas, Cola, Ovos]"
31,Pão Leite Cerveja,"[Pão, Leite, Cerveja]"
32,Pão Leite Cola,"[Pão, Leite, Cola]"
33,Pão Leite Ovos,"[Pão, Leite, Ovos]"
34,Pão Cerveja Cola,"[Pão, Cerveja, Cola]"
35,Pão Cerveja Ovos,"[Pão, Cerveja, Ovos]"
36,Pão Cola Ovos,"[Pão, Cola, Ovos]"
37,Leite Cerveja Cola,"[Leite, Cerveja, Cola]"
38,Leite Cerveja Ovos,"[Leite, Cerveja, Ovos]"
39,Leite Cola Ovos,"[Leite, Cola, Ovos]"
40,Cerveja Cola Ovos,"[Cerveja, Cola, Ovos]"
41,Fraldas Pão Leite Cerveja,"[Fraldas, Pão, Leite, Cerveja]"
42,Fraldas Pão Leite Cola,"[Fraldas, Pão, Leite, Cola]"
43,Fraldas Pão Leite Ovos,"[Fraldas, Pão, Leite, Ovos]"
44,Fraldas Pão Cerveja Cola,"[Fraldas, Pão, Cerveja, Cola]"
45,Fraldas Pão Cerveja Ovos,"[Fraldas, Pão, Cerveja, Ovos]"
46,Fraldas Pão Cola Ovos,"[Fraldas, Pão, Cola, Ovos]"
47,Fraldas Leite Cerveja Cola,"[Fraldas, Leite, Cerveja, Cola]"
48,Fraldas Leite Cerveja Ovos,"[Fraldas, Leite, Cerveja, Ovos]"
49,Fraldas Leite Cola Ovos,"[Fraldas, Leite, Cola, Ovos]"
50,Fraldas Cerveja Cola Ovos,"[Fraldas, Cerveja, Cola, Ovos]"
51,Pão Leite Cerveja Cola,"[Pão, Leite, Cerveja, Cola]"
52,Pão Leite Cerveja Ovos,"[Pão, Leite, Cerveja, Ovos]"
53,Pão Leite Cola Ovos,"[Pão, Leite, Cola, Ovos]"
54,Pão Cerveja Cola Ovos,"[Pão, Cerveja, Cola, Ovos]"
55,Leite Cerveja Cola Ovos,"[Leite, Cerveja, Cola, Ovos]"
56,Fraldas Pão Leite Cerveja Cola,"[Fraldas, Pão, Leite, Cerveja, Cola]"
57,Fraldas Pão Leite Cerveja Ovos,"[Fraldas, Pão, Leite, Cerveja, Ovos]"
58,Fraldas Pão Leite Cola Ovos,"[Fraldas, Pão, Leite, Cola, Ovos]"
59,Fraldas Pão Cerveja Cola Ovos,"[Fraldas, Pão, Cerveja, Cola, Ovos]"
60,Fraldas Leite Cerveja Cola Ovos,"[Fraldas, Leite, Cerveja, Cola, Ovos]"
61,Pão Leite Cerveja Cola Ovos,"[Pão, Leite, Cerveja, Cola, Ovos]"
62,Fraldas Pão Leite Cerveja Cola Ovos,"[Fraldas, Pão, Leite, Cerveja, Cola, Ovos]"

## Criando colunas de suporte com os valores possíveis de cada Item e suas combinações

In [16]:
# function to combine possibilities! It can be used in the step I already did
def combina(lista):
    aux = []
    for L in range(0, len(lista)+1):
        for subset in itertools.combinations(lista, L):
            subset= list(subset)
            item = ' '.join(subset)
            aux.append(subset)
            
    return aux

In [17]:
# function to permute the values
def permuta(lista):
    aux = []
    if len(lista) > 1:
        permutations = list(itertools.permutations(lista))
    else:
        permutations = lista
          
    return permutations

In [18]:
y = df_lista_completa['ListaItens'][10] # permutation test
y

['Fraldas', 'Ovos']

In [19]:
x = permuta(y)# permutation test
x

# Result with Tuple! Modify!!

[('Fraldas', 'Ovos'), ('Ovos', 'Fraldas')]

In [20]:
lista_possibilidade = []

for item in df_lista_completa['ListaItens']:
    x = list(permuta(item))
    lista_possibilidade.append(x)

In [21]:
df_lista_completa['ListaPossibilidade'] = lista_possibilidade
#df_lista_completa

In [22]:
# Modifying Tuples in Lists
lista_possibilidade = []
lista_aux = []

for item in df_lista_completa['ListaPossibilidade']:
    if len(item) > 1:
        for i in item:
            x = list(i)
            lista_aux.append(x)
        lista_possibilidade.append(lista_aux)
        lista_aux = []
    else:
        lista_possibilidade.append(item)

In [23]:
lista_possibilidade;

In [24]:
df_lista_completa['ListaPossibilidade'] = lista_possibilidade # DF with the items and their permutations
df_lista_completa;

# Contando o número de aparições de cada item e de suas combinações

In [25]:
contador = 0
contagem = []

for item in df_lista_completa['ListaPossibilidade']:
    try:# Can change to if len(df()) < 1
        for i in item:
            #print(i)
            #print("")
            for j in df['Itens']:
                #print(j)
                #print(i)
                #print("")
                if i in j:
                    #print(j)
                    contador += 1 
        contagem.append(contador)
    except:# ELSE
        for i in item:
            i = ' '.join(i)
            #print(i)
            #print("")
            for j in df['Itens']:
                #print(j)
                #print(i)
                #print("")
                if i in j:
                    #print(j)
                    contador += 1 
        contagem.append(contador)
        
    contador = 0

# Counting

In [27]:
df_lista_completa['Contagem'] = contagem
df_lista_completa;

# Cleaning the DataFrame

In [28]:
df_lista_completa = df_lista_completa[['Conjuntos', 'Contagem']]
df_lista_completa;

# Calculating Support

In [29]:
lista_aux = []
for item in df_lista_completa['Contagem']:
    lista_aux.append(item/len(df['Itens']))

df_lista_completa['Suporte'] = lista_aux
df_lista_completa

C:\Users\lucas\AppData\Local\Temp/ipykernel_46460/3451758730.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista_completa['Suporte'] = lista_aux

                              Conjuntos  Contagem  Suporte
0                               Fraldas         4      0.8
1                                   Pão         4      0.8
2                                 Leite         4      0.8
3                               Cerveja         3      0.6
4                                  Cola         2      0.4
5                                  Ovos         1      0.2
6                           Fraldas Pão         1      0.2
7                         Fraldas Leite         3      0.6
8                       Fraldas Cerveja         3      0.6
9                          Fraldas Cola         1      0.2
10                         Fraldas Ovos         0      0.0
11                            Pão Leite         3      0.6
12                          Pão Cerveja         0      0.0
13                             Pão Cola         0      0.0
14                             Pão Ovos         0      0.0
15                        Leite Cerveja         0      0.0
16                           Leite Cola         0      0.0
17                           Leite Ovos         0      0.0
18                         Cerveja Cola         1      0.2
19                         Cerveja Ovos         1      0.2
20                            Cola Ovos         0      0.0
21                    Fraldas Pão Leite         2      0.4
22                  Fraldas Pão Cerveja         1      0.2
23                     Fraldas Pão Cola         0      0.0
24                     Fraldas Pão Ovos         0      0.0
25                Fraldas Leite Cerveja         2      0.4
26                   Fraldas Leite Cola         1      0.2
27                   Fraldas Leite Ovos         0      0.0
28                 Fraldas Cerveja Cola         1      0.2
29                 Fraldas Cerveja Ovos         1      0.2
30                    Fraldas Cola Ovos         0      0.0
31                    Pão Leite Cerveja         0      0.0
32                       Pão Leite Cola         0      0.0
33                       Pão Leite Ovos         0      0.0
34                     Pão Cerveja Cola         0      0.0
35                     Pão Cerveja Ovos         0      0.0
36                        Pão Cola Ovos         0      0.0
37                   Leite Cerveja Cola         0      0.0
38                   Leite Cerveja Ovos         0      0.0
39                      Leite Cola Ovos         0      0.0
40                    Cerveja Cola Ovos         0      0.0
41            Fraldas Pão Leite Cerveja         1      0.2
42               Fraldas Pão Leite Cola         1      0.2
43               Fraldas Pão Leite Ovos         0      0.0
44             Fraldas Pão Cerveja Cola         0      0.0
45             Fraldas Pão Cerveja Ovos         1      0.2
46                Fraldas Pão Cola Ovos         0      0.0
47           Fraldas Leite Cerveja Cola         1      0.2
48           Fraldas Leite Cerveja Ovos         0      0.0
49              Fraldas Leite Cola Ovos         0      0.0
50            Fraldas Cerveja Cola Ovos         0      0.0
51               Pão Leite Cerveja Cola         0      0.0
52               Pão Leite Cerveja Ovos         0      0.0
53                  Pão Leite Cola Ovos         0      0.0
54                Pão Cerveja Cola Ovos         0      0.0
55              Leite Cerveja Cola Ovos         0      0.0
56       Fraldas Pão Leite Cerveja Cola         0      0.0
57       Fraldas Pão Leite Cerveja Ovos         0      0.0
58          Fraldas Pão Leite Cola Ovos         0      0.0
59        Fraldas Pão Cerveja Cola Ovos         0      0.0
60      Fraldas Leite Cerveja Cola Ovos         0      0.0
61          Pão Leite Cerveja Cola Ovos         0      0.0
62  Fraldas Pão Leite Cerveja Cola Ovos         0      0.0

# Filtering only items and combinations with support greater than 0.5

In [30]:
df_suport_min = df_lista_completa[df_lista_completa.Suporte >= 0.5]
df_suport_min

          Conjuntos  Contagem  Suporte
0           Fraldas         4      0.8
1               Pão         4      0.8
2             Leite         4      0.8
3           Cerveja         3      0.6
7     Fraldas Leite         3      0.6
8   Fraldas Cerveja         3      0.6
11        Pão Leite         3      0.6

# Conclusion
> Milk is bought with Bread  
> Diaper and Milk are purchased together too  
> **Diaper and Beer is another combination that sells a lot**